
h1{
  text-align: center;
  font-size: 55pt;
}
form{
  /* border:2px solid green; */
  text-align: center;
}
button{
  /* border: 2px solid green; */
  margin-top: 20px;
  text-align: center;
  margin-left: 780px;
  width:200px;
  height: 80px;
  border-radius: 20px;
  font-size: 28pt;
  background-color: aquamarine;
}
hr{
  width: 80vw;
  height: 3px;
  background-color:black;
}
label{
  font-size:27pt;
}
input{
  height: 40px;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-top: 6px;
  background-color: rgb(209, 249, 249);
  font-size:22pt;
}
.main{
   border: 3px solid black; 
  width: 80vw;
  margin-left: 150px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-evenly;
  background-color: aliceblue;
}
.inner{
  margin-top: 10px;
 width: 600px; 
 word-wrap: break-word;

   padding: 20px; 
   border: 2px solid black; 
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;

  background-color: palevioletred;
  font-size: 24pt;
  
}
body{
  background-image: linear-gradient(180deg,rgb(210, 123, 210),pink,rgb(219, 219, 104));
  background-repeat: no-repeat;
  min-height: 100vh;
   background-size: cover;
   
}
